.containerR{
  display:flex;
  width:clamp(200px,40%,40%);
  flex-direction: column;
  background-color: white;
  min-height:80%;
  max-height:100vh;
  margin-top:2rem;
}

.personalSection{
  display:flex;
  flex-direction:column;
  width:100%;
  max-height: 150px;
  background-color: rgb(51, 65, 85);
  color:white;
  padding-bottom:1rem;
}

.name{
  font-size: 4rem;
}

.contactSection{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:3rem;
}
.workSection
{
  width:85%;
  margin: 0 auto;
}
.workHead{
  text-align: middle;
  font-size:2.2rem;
  background-color: rgb(51, 65, 85);
  color:white;
  margin-top: 2rem;
  width:85%;
  margin-left: auto;
  margin-right:auto;

}
.jobTitle
{
  display:flex;
  font-size:1.5rem;
  font-weight:800;
  text-align:left;
  justify-content:space-between;

}

.dateExperience{
  
  font-size:1rem;
  align-self: center;
  text-align:right;
  
}
.companyTitle
{
  text-align:left;
  font-weight:600;
}
.jobDescription
{
  text-align: left;
  white-space: pre-wrap;
  margin-top:.5rem;
  font-size: 14px;
}


